<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freeman's Blog</title>
	<link rel="stylesheet" href="static/index.css">
</head>
<body>
    <header>
        <h1>I'm Freeman and it's my own Blog</h1>
        <nav>
            <a href="#home">Home</a>
            <a href="#about">About</a>
        </nav>
    </header>
    <main>
		{% for post in posts %}
			<p>Date: {{ post.date }}</p>
			<p>{{ post.content }}</p>
		{% endfor %}
	</main>
</body>
</html>
